<!-- article footnotes
======================================================= -->
<section class="list-group">
  <ul id="footnotes" class="nav nav-list">
    <h4 class="nav-header">Footnotes</h4>     
		<ol class="post">
			{{ page.fn1 }}
			{{ page.fn2 }}
			{{ page.fn3 }}
			{{ page.fn4 }}
			{{ page.fn5 }}
			{{ page.fn6 }}
			{{ page.fn7 }}
			{{ page.fn8 }}
			{{ page.fn9 }}
			{{ page.fn10 }}
		</ol>
	</ul>
</section> <!-- /article-footnotes -->



<!-- article pagination
======================================================= -->
<div class="row"> <!-- pagination -->
  <ul class="nav nav-pills pull-right">
      {% if page.previous.url %}
      <li class="previous"><a class="basic-alignment left"
        href="{{ page.previous.url }}" title="Previous Article:
        {{ page.previous.title }}">&laquo; Previous Article</a></li>
      {% endif %}

      {% if page.next.url %}
      <li class="next"><a class="basic-alignment right" href="{{ page.next.url }}"
        title="Next Article: {{ page.next.title }}">Next Article
        &raquo;</a></li>
      {% endif %}
   	</ul>
</div> <!-- /pagination -->
</br>
