<header class="row page-header">

	<div class="col-md-4 pull-left">
		<ul class="thumbnails">
      <div class="thumbnail">
				{% if post.img1-s-lan %}
					<a href="{{ root_url }}{{ post.url }}">
	<img src="{{ post.img1-m-lan }}" title="{{ page.img1-title }}" alt="{{ page.img1-alt }}" width="{{ post.img1-m-wd-lan }}" height="{{ post.img1-m-ht-lan }}">
</a>
				{% elsif post.img1-s-por %}
					<a href="{{ root_url }}{{ post.url }}">
	<img src="{{ post.img1-m-por }}" title="{{ page.img1-title }}" alt="{{ page.img1-alt }}" width="{{ post.img1-m-wd-por }}" height="{{ post.img1-m-ht-por }}">
</a>

				{% endif %}
	    </div>
  	</ul>		
	</div>

	<div class="col-md-8 pull-right">
	  <h4 class="archive-title accent">			   
      Article #{{ post.number }} &ndash; <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time> |
 
			{% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
				<a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
  		{% endif %}
	  </h4>
    <h5>
	  <span class="archive-title accent">
			<a href="{{ root_url }}{{ post.url }}">
				{{post.title}} {{ post.subtitle }}
			</a> &ndash;
		</span>
		<span> 
			{% include post/categories.html %} |
			{% include post/tags.html %}
		</span>
    </h5>
	  <p class="article-intro">
	    {{post.int | truncate:250 }}
	    <a class="read-on" href="{{ root_url }}{{ post.url }}"> continued &rarr;</a> 
	  </p>
	</div>

</header>
